.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-top: 5rem;
  .title {
    font-weight: 500;
    margin-bottom: 3rem;
    font-size: 2rem;
    // border: 1px solid red;
  }
  .contImg {
    margin-bottom: 4rem;
    max-width: 400px;
    img {
      width: 100%;
    }
  }
  .formulario {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 400px;
    margin-bottom: 2rem;
    input,
    select,
    option,
    textarea,
    button {
      color: #000;
      outline: none;
    }
    .contInput {
      input {
        width: 100%;
      }
    }
    select {
      width: 100%;
    }
    textarea {
      width: 100%;
      resize: none;
    }
  }
}
