.container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;

  .contImg {
    margin-bottom: 4rem;
    max-width: 250px;
    margin: auto;

    img {
      width: 100%;
    }
  }

  .linea {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border: 1.5px solid #fff;
  }

  .contSubCategorias {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}