.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  .contTop {
    .contImg {
      padding-block: 2rem;
      display: flex;
      justify-content: center;
    }

    .linea {
      width: 100%;
      background-color: #fff;
      border: 1.5px solid #fff;
      margin-top: 1rem;
    }

    .contSubCategorias {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-top: 2rem;
    }
  }
}