.redes {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: auto;
}

.icon {
  font-size: 20px;
}

.lineaRedes {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 600;
}
